{% extends "blogApp/base.html" %}

{% block content %}
<article class="content-section mb-4">
    <div class="d-flex align-items-start mb-3">
        <img class="rounded-circle article-img me-3" src="{{ object.author.profile.image.url }}" alt="{{ post.title }}" width="50" height="50">
        <div class="media-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="mb-0">
                    <a class="fw-bold text-decoration-none me-3" href="#">{{ object.author }}</a>
                </h5>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title fw-semibold mb-2">{{ object.title }}</h2>
            <p class="article-content text-muted">{{ object.content|truncatewords:50 }}</p>
        </div>
    </div>
    <hr>
</article>
{% endblock %}
