{% extends "blogApp/base.html" %}

{% block content %}
    <h1 class="mg-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for post in posts %}
    <article class="content-section mb-4">
        <div class="d-flex align-items-start mb-3">
            <img class="rounded-circle article-img me-3" src="{{ post.author.profile.image.url }}" alt="{{ post.title }}" width="50" height="50">
            <div class="media-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="mb-0">
                        <a class="fw-bold text-decoration-none me-3" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    </h5>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2 class="article-title fw-semibold mb-2">
                    <a class="text-dark text-decoration-none" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                </h2>
                <p class="article-content text-muted">{{ post.content|truncatewords:50 }}</p>
            </div>
        </div>
        <hr>
    </article>
    {% endfor %}
    
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-5"> <!-- Added mb-5 here -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
